<!-- <nav class="navbar">
  @for (route of navbarRoutes; track route) {
  <a routerLink="{{ route.path }}">{{ route.title }}</a>
  }
</nav> -->

<nav class="navbar bg-primary navbar-expand-sm" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Employee Management</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        @for (route of navbarRoutes; track route) {
        <a
          class="nav-link"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="{{ route.path }}"
          >{{ route.title }}</a
        >
        }
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet />
</div>
